<!DOCTYPE html>
<html>
  <head>
    <title> The MEAN Stack</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>My Name: Visente Carlos</h1>
    <h2>The MEAN Stack</h2>
    <ul>
      <li>MongoDB: A NoSQL database that stores data as documents.</li>
      <li>Express.js: A web application framework for Node.js.</li>
      <li>AngularJS: A front-end framework for building single-page applications.</li>
      <li>Node.js: A JavaScript runtime environment that allows developers to write JavaScript code on the server-side.</li>
    </ul>
  </body>
</html>